.modal-enter {
  transform: translateY(100%);
}

.modal-enter-active {
  transform: translateY(0%);
  transition: transform 0.3s;
}

.modal-exit {
  transform: translateY(0%);
}

.modal-exit-active {
  transform: translateY(100%);
  transition: transform 0.3s;
}
